server:
  port: 8080

spring:
  application:
    name: project-management-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/project_management
    username: postgres
    password: Tanmay@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    serialization:
      INDENT_OUTPUT: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
